<div class="notice notice--cookie notice--closeable" data-type="cookie">
    <p class="notice__text">{{ __('This website uses cookies to improve user experience. By using our website you consent to the storage of cookies from this website.', 'tmp') }}</p>
    <a href="#" class="notice__close button">{{ __('I agree', 'tmp') }}</a>
</div>

<!--[if lt IE 9]>
<div class="notice notice--browser notice--closeable" data-type="browser">
    <p class="notice__text">{{ __('You are using an <strong>extremely outdated</strong> browser. Please <a href="%s">upgrade your browser</a>.', 'tmp')|format('http://browsehappy.com/') }}</p>
    <a href="#" class="notice__close button">{{ __('I understand', 'tmp') }}</a>
</div>
<![endif]-->

<noscript class="notice notice--noscript">
    <p class="notice__text">{{ __('JavaScript is disabled. While you may be able to browse the website some elements may be unusable', 'tmp') }}</p>
</noscript>