<ul class="social-links">
    {%  if settings.social.facebook %}
        <li class="social-links__item social-links__item--facebook">
            <a class="social-links__link" target="_blank" href="{{ settings.social.facebook.link }}"
               title="Find us on Facebook">
                {{ settings.social.facebook.icon }}
            </a>
        </li>
    {% endif %}
    {%  if settings.social.twitter %}
        <li class="social-links__item social-links__item--twitter">
            <a class="social-links__link" target="_blank" href="{{ settings.social.twitter.link }}"
               title="Find us on Twitter">
                {{ settings.social.twitter.icon }}
            </a>
        </li>
    {% endif %}
    {%  if settings.social.google_plus %}
        <li class="social-links__item social-links__item--google">
            <a class="social-links__link" target="_blank" href="{{ settings.social.google_plus.link }}"
               title="Find us on Google+">
                {{ settings.social.google_plus.icon }}
            </a>
        </li>
    {% endif %}
    {%  if settings.social.pinterest %}
        <li class="social-links__item social-links__item--pinterest">
            <a class="social-links__link" target="_blank" href="{{ settings.social.pinterest.link }}"
               title="Find us on Pinterest">
                {{ settings.social.pinterest.icon }}
            </a>
        </li>
    {% endif %}
    {%  if settings.social.linkedin %}
        <li class="social-links__item social-links__item--linkedin">
            <a class="social-links__link" target="_blank" href="{{ settings.social.linkedin.link }}"
               title="Find us on LinkedIn">
                {{ settings.social.linkedin.icon }}
            </a>
        </li>
    {% endif %}
    {%  if settings.social.instagram %}
        <li class="social-links__item social-links__item--instagram">
            <a class="social-links__link" target="_blank" href="{{ settings.social.instagram.link }}"
               title="Find us on Instagram">
                {{ settings.social.instagram.icon }}
            </a>
        </li>
    {% endif %}
    {%  if settings.social.youtube %}
        <li class="social-links__item social-links__item--youtube">
            <a class="social-links__link" target="_blank" href="{{ settings.social.youtube.link }}"
               title="Find us on Youtube">
                {{ settings.social.youtube.icon }}
            </a>
        </li>
    {% endif %}
    {%  if settings.social.tumblr %}
        <li class="social-links__item social-links__item--tumblr">
            <a class="social-links__link" target="_blank" href="{{ settings.social.tumblr.link }}"
               title="Find us on Tumblr">
                {{ settings.social.tumblr.icon }}
            </a>
        </li>
    {% endif %}
    <li class="social-links__item social-links__item--rss">
        <a class="social-links__link" target="_blank" href="/feed/" title="View our feed">
            {{ settings.social.rss.icon }}
        </a>
    </li>
</ul>
