<ul class="social-share js-share">
    <li class="social-share__item social-share__item--facebook">
        <a class="social-share__link js-share" href="https://www.facebook.com/sharer/sharer.php?u={{ settings.social.share.url }}"
           title="Share on Facebook">
            {{ __('Share on Facebook', 'tmp') }}
        </a>
    </li>
    <li class="social-share__item social-share__item--twitter">
        <a class="social-share__link js-share" href="https://twitter.com/home?status={{ settings.social.share.url }} {{ settings.social.share.title }}"
           title="Share on Twitter">
            {{ __('Share on Twitter', 'tmp') }}
        </a>
    </li>
    <li class="social-share__item social-share__item--google">
        <a class="social-share__link js-share" href="https://plus.google.com/share?url={{ settings.social.share.url }}"
           title="Share on Google plus">
            {{ __('Share on google+', 'tmp') }}
        </a>
    </li>
    <li class="social-share__item social-share__item--linked-in">
        <a class="social-share__link js-share"
           href="https://www.linkedin.com/shareArticle?mini=true&url={{ settings.social.share.url }}&title={{ settings.social.share.title }}&summary=&source={{ site.url }}"
           title="Share on LinkedIn">
            {{ __('Share on LinkedIn', 'tmp') }}
        </a>
    </li>
</ul>
